.attribution { 
  font-size: 11px; text-align: center; 
}
.font-500 {
  font: 500 "Hanken-Grotesk", sans-serif;
}
.font-700 {
  font: 700 "Hanken-Grotesk", sans-serif;
}
.font-800 {
  font: 800 "Hanken-Grotesk", sans-serif;
}