body {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

h1,
p,
form,
a,
ul {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.content {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
}

.dashboard,
.logo {
  margin: 50px 0;
}

.intro {
  display: flex;
  gap: 5px;
}

.intro h1:first-child {
  display: inline;
  color: hsl(0, 0%, 59%);
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 0.075rem;
}

.p-intro {
  margin-bottom: 20px;
  color: hsl(209, 33%, 12%);
  font-size: 0.875rem;
}

.form-notify {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.form-notify input {
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid hsl(0, 0%, 59%, 50%);
  width: 250px;
}

.form-notify [type="email"]::placeholder {
  color: hsl(0, 0%, 59%, 50%);
  font-size: 0.7rem;
}

.form-notify button {
  padding: 10px 40px;
  border-radius: 40px;
  border: none;
  background: hsl(223, 87%, 63%);
  color: #ffffff;
  font-size: 0.7rem;
  box-shadow: 1px 1px 5px hsl(0, 0%, 59%, 50%);
  cursor: pointer;
  position: relative;
}

.form-notify button:hover {
  background: hsl(223, 87%, 63%, 80%);
}

.form-notify [type="email"]:focus {
  outline: none;
}

.erro {
  display: block;
  color: hsl(0, 50%, 60%);
  font-size: 0.8rem;
  margin: 10px 30px;
}

.form-notify [type="email"].invalido {
  border: solid 1px hsl(0, 93%, 68%);
}

.Notifyme {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.Notifyme li {
  margin-bottom: 40px;
}

.Notifyme li a {
  display: block;
  padding: 16px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 59%, 20%);
}

.Notifyme li:nth-child(1) a {
  background: url("./images/facebook.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.Notifyme li:nth-child(1) a:hover {
  background: url("./images/facebook-white.svg"), hsl(223, 87%, 63%);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.Notifyme li:nth-child(2) a {
  background: url("./images/twitter.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.Notifyme li:nth-child(2) a:hover {
  background: url("./images/twitter-white.svg"), hsl(223, 87%, 63%);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.Notifyme li:nth-child(3) a {
  background: url("./images/instagram.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.Notifyme li:nth-child(3) a:hover {
  background: url("./images/instagram-white.svg"), hsl(223, 87%, 63%);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.content footer {
  color: hsl(0, 0%, 59%);
  font-size: 0.875rem;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .form-notify {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .erro {
    grid-area: 2;
  }
}
