body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

h1,
p,
ul,
dt,
dd {
  margin: 0;
  padding: 0;
}

.main-bg {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  padding: 80px calc((100% - 920px) / 2);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
}

.contain-img {
  background-image: url("./images/bg-pattern-desktop.svg"),
    url("./images/illustration-woman-online-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 966px, 427px;
  background-position-x: -605px, -70px;
  background-position-y: -300px, 85px;
  position: relative;
}
.contain-img img {
  position: absolute;
  top: 200px;
  left: -93px;
}

.contain-faq {
  padding: 70px 0;
}
